<div class="landing">

    <div class="intro">
        <span style="display:block;"> Hello, I'm Frank. </span>
        <span style="display: inline;">I'm a</span><span class="typewriter"></span>
        <span style="display:block;"> based in Toronto, Ontario 🇨🇦 </span>
    </div>

    <div class="intro-text">
        <p>
            I am a self-taught developer who loves technology.
            I've built applications for Banks, and am always looking for ways to take my career to the next level.
            I'm a fitness enthusiast, as well as a wannabe digital nomad and will never say no to connecting over a cup
            of coffee ☕.
        </p>
    </div>
    <div class="socialmedia">
        <a class="icon" href="https://github.com/tranfh">
            <img alt="github" [src]="github" width="40" height="40">
        </a>
        <a class="icon" href="https://www.linkedin.com/in/frank-tran-8681a8132/">
            <img alt="linkedin" [src]="linkedin" width="40" height="40">
        </a>
        <a class="icon" href="https://discord.gg/2QdjupGYPH">
            <img alt="discord" [src]="discord" width="40" height="40">
        </a>
        <a class="icon" href="mailto:frank.tran@live.ca">
            <img alt="mail" [src]="plane" width="40" height="40">
        </a>

    </div>
</div>