<div class="about-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="about-title">About Me</h3>
                <p class="about-paragraph">My name is Frank Tran and I am an aspiring Software Engineer/Developer. <br>
                    I graduated from the University of Waterloo with a Health Science major in April 2018. <br>
                    I began to pursue a career as a Developer when I discovered my 'flow'. I would become so absorbed
                    that hours can pass by without me realizing!<br>
                    Coming out of that trance I knew I enjoyed what programming had to offer and it acts as a creative
                    outlet where I can create and build something, and watch it come to life! <br>
                    In my free time, I enjoy staying physically active whether it be at the gym, outdoors, or playing
                    sports with my friends
                </p>
            </div>
        </div>
    </div>
</div>